.sidebar {
    width: 200px;
    height: 100vh;
    background: linear-gradient(to right, #6366F1, #9333EA);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.user-admin {
    display: flex;
}

.content {
    margin-left: 220px; /* Para hacer espacio para el sidebar */
    padding: 20px;
    width: calc(100% - 220px);
}
